
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
    height:100%;
	
	background: #FF3053 no-repeat center center fixed !important;
    background-size: cover !important;
	
	-webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

body {
	pointer-events: none;
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #172027;
    z-index: 99; /* Higher than anything else in the document */
}

.loading_gif {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loading_gif_frame {
    height: 100%; /* Can be anything */
    width: 100%; /* Can be anything */
    vertical-align: middle;
}