html {
}

body {
	margin: 0;
	height: 200vh;
}

#header {
	display: flex;
	position: absolute;
	height: 72px;
	justify-content: center;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 101;
	
	background-color: #000;
}
#header-container {
	display: flex;
	min-width: 64.63479%;
	height: 100%;
	align-items: center;
}
.header-label {
	display: flex;
	height: 100%;
	margin-right: 20px;
	align-items: center;
	
	outline: none;
}
.header-label svg {
	fill: #fff;
}
.header-label:focus svg {
	fill: #309DF4;
}
.header-navigation {
	display: flex;
	height: 100%;
	align-items: center;
}
.header-navigation-item {
	display: flex;
	height: 100%;
	padding: 0 20px;
	align-items: center;
	
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	
	color: #f5f5f5;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: .5px;
	text-decoration: none;
	outline: none;
}
.header-navigation-item:hover {
	color: #309DF4;
}
.header-socials {
	display: flex;
	height: 100%;
	margin-left: auto;
	float: right;
	align-items: center;
}
.header-socials-item {
	display: flex;
	height: 100%;
	align-items: center;
	
	outline: none;
}
.header-socials-item:hover .header-socials-item-border {
	background-color: rgba(255, 255, 255, 0.13);
}
.header-socials-item-border {
	display: flex;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	
	transition: 0.2s;
	
	border: 0;
	border-radius: 50%;
}
.header-socials-item-border svg {
	color: #f5f5f5;
}
.header-button {
	display: flex;
	height: 40px;
	padding: 0 16px;
	margin: 0 24px;
	align-items: center;
	
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	background-color: #2196f3;
	color: #fff;
	text-decoration: none;
	outline: none;
	border: 0;
	border-radius: 4px;
}

.content-article-cover {
	position: relative;
	min-height: 100vh;
	
	background-image: url("../content/covers/default.jpg"); /* The image used */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.content-article-center-vertical {
	display: flex;
	max-width: 1230px;
	height: calc(100vh - 180px);
	margin: 0 auto;
	align-items: center;
}
.content-article-title-row {
	max-width: 100%;
}
.content-article-title-huge {
	margin: 0;
	padding: 0;
	
	color: #fff;
	font-size: 7.5rem;
	line-height: 1;
	font-weight: 700;
	font-family: Inter,sans-serif;
}
.content-article-title-studio {
	color: #fff;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-family: Inter,sans-serif;
}
.content-article-menu {
	position: absolute;
	width: 100%;
	bottom: 60px;
}
.content-article-menu-container {
	max-width: 1230px;
	margin: 0 auto;
}
.content-article-menu-row {
	max-width: 100%;
}
.content-article-menu-row a {
	margin-right: 14.5px;
	
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	font-family: Inter,sans-serif;
}