
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
    height:100%;
	
	background: #161616 no-repeat center center fixed;
    background-size: 100% auto;
	background-image: linear-gradient(rgba(22, 22, 22, 0), rgba(22, 22, 22, 1)), url('2/cover.jpg');
	background-attachment: scroll;
	
	-webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
}

@font-face {
    font-family: Consola;
    src:url("assets/fonts/consola.TTF");
}
@font-face {
    font-family: Inter-Regular;
    src:url("assets/fonts/inter-regular.ttf");
}

body {
	margin: 0;
	height: 3000px;
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 107px;
    bottom: 0px;
    background-color: #161616;
    z-index: 99; /* Higher than anything else in the document */
}

#header {
	width: 100%;
    left: 0;
    top: 0;
	height: 107px;
	
	background-image: linear-gradient(rgba(22, 22, 22, 0.75), rgba(22, 22, 22, 0));
}
#header-container {
	height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 38px;
}
#header-social-container {
	float: right;
	height: 100%;
    right: 0;
	display: flex;
	
    justify-content: center;
    align-items: center;
}
.header-social {
	padding-left: 25px;
}
.header-social a img {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#header-pages-container {
	float: left;
	height: 100%;
    right: 0;
	display: flex;
	
    justify-content: center;
    align-items: center;
}
.header-page-container {
	padding-right: 25px;
	font-family: Segoe UI;
	font-size: 18px;
	font-weight: 600;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-page-icon {
	padding-right: 25px;
}
.header-page-icon a img {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-page {
	color: #ffffff;
	text-decoration: none;
}
.header-page:hover {
	color: #bebfc1;
}

#center {
	display: flex;
    justify-content: center;
    align-items: center;
}
.background-shadow {
    position: absolute;
	top: 85vh;
	height: 50vh;
	width: 100%;
	
}