
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
    height:100%;
	scroll-behavior: smooth;
}

@font-face {
    font-family: Consola;
    src:url("../assets/fonts/consola.TTF");
}
@font-face {
    font-family: Inter-Regular;
    src:url("../assets/fonts/inter-regular.ttf");
}

body {
	margin: 0;
	
	background: #161616 no-repeat center center fixed;
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 107px;
    bottom: 0px;
    background-color: #161616;
    z-index: 99; /* Higher than anything else in the document */
}

#header {
	width: 100%;
    left: 0;
    top: 0;
	height: 107px;
	
	background-image: linear-gradient(rgba(22, 22, 22, 0.75), rgba(22, 22, 22, 0));
}
#header-container {
	height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 38px;
}
#header-social-container {
	float: right;
	height: 100%;
    right: 0;
	display: flex;
	
    justify-content: center;
    align-items: center;
}
.header-social {
	padding-left: 25px;
}
.header-social a img {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#header-pages-container {
	float: left;
	height: 100%;
    right: 0;
	display: flex;
	
    justify-content: center;
    align-items: center;
}
.header-page-container {
	padding-right: 25px;
	font-family: Segoe UI;
	font-size: 18px;
	font-weight: 600;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-page-icon {
	padding-right: 25px;
}
.header-page-icon a img {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-page {
	color: #ffffff;
	text-decoration: none;
}
.header-page:hover {
	color: #bebfc1;
}

#center {
	display: flex;
    justify-content: center;
}
.background-shadow {
    position: absolute;
	top: 57.5vh;
	height: 40vh;
	width: 100%;
	
	background-image: linear-gradient(rgba(22, 22, 22, 0), rgba(22, 22, 22, 1));
	
	z-index: -1;
}
.background-cover {
    position: absolute;
	top: 0;
	height: 97.5vh;
	width: 100%;
	
    background-size: cover;
	background-image: url('game-engine-architecture/cover.jpg');
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	
	z-index: -1;
}

#content {
	width: 47vw;
	margin-top: 64vh;
}
#post-title {
    font-family: Inter-Regular;
	font-size: 48px;
	font-weight: 600;
	
	color: #ffffff;
	margin: -35px 0;
}
.post-p {
    font-family: Inter-Regular;
	font-size: 20px;
	line-height: 1.45;
	
	color: rgba(255, 255, 255, 0.7);
	margin: 50px 0;
}
.post-p2 {
    font-family: Inter-Regular;
	font-size: 16px;
	line-height: 1.45;
	
	color: #afb4b9;
	margin: 50px 0;
}
.post-p2 img {
	max-width: 18px;
	max-height: 18px;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	pointer-events: none;
	
	position: relative;
    /* Adjust these values accordingly */
    top: 3px;
}
.post-references {
    font-family: Inter-Regular;
	font-size: 28px;
	line-height: 1.85;
	
	color: #ffffff;
	margin: 50px 0;
	display: flex;
	align-items: center;
}
.post-references img {
	max-width: 28px;
	max-height: 28px;
	margin-right: 8px;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	pointer-events: none;
}

#navigator-container {
	width: 160px;
	height: 0;
	margin-top: 90vh;
	margin-left: 38px;
	
    position: sticky;
	top: 0;
}
.navigator-bar {
	height: 42px;
	
	display: flex;
	align-items: center;
	text-decoration: none;
	outline: 0;
}
.navigator-bar span {
	color: #ffffff;
	font-family: Segoe UI;
	font-size: 18px;
	
	white-space: pre;
	transition: 0.25s;
}
.navigator-bar:hover span {
	color: #4d92e1;
}
.navigator-bar-head {
	height: 100%;
	min-width: 3px;
	margin-right: 8px;
	
	background-color: #1a2128;
	transition: 0.25s;
}
.navigator-bar-head.triggered {
	min-width: 8px;
	background-color: #0366e6;
}

.post-content-p {
    font-family: Inter-Regular;
	font-size: 20px;
	line-height: 1.85;
	white-space: pre-line;
	
	color: rgba(255, 255, 255, 0.7);
	margin: 50px 0;
}
.post-content-h {
    font-family: Inter-Regular;
	font-size: 34px;
	line-height: 1.85;
	
	color: #ffffff;
	margin: 50px 0;
}
.post-content-h.small {
	font-size: 28px;
}